#window {
    margin: 0px;
    border: 1px solid #454545;
    background-color: #1f1f1f;
    border-radius: 0px;
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
}

#input {
    margin: 5px;
    border: 1px solid #3c3c3c;
    border-radius: 0px;
    background-color: #3c3c3c;
    color: #cccccc;
    padding: 5px;
}

#input:focus {
    border: 1px solid #007acc;
    outline: none;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1f1f1f;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1f1f1f;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    padding: 10px;
}

#entry:selected {
    background-color: #04395e;
    border-left: 2px solid #007acc;
    outline: none;
}

#text {
    margin: 5px;
    border: none;
    color: #cccccc;
}

#text:selected {
    color: #ffffff;
}

#scroll {
    margin: 0px;
    border: none;
}
